/* Variable CSS for PaperPlus PDF */

/* Circle styling */
.circle {
  width: 13px;
  height: 13px;
  border: 2px solid #000;
  border-radius: 10%;
  display: block;
  margin: 2px auto 2px auto; /* top & bottom small margin only, centered horizontally */
}
