/* Variable CSS for PaperPlus PDF */

/* Circle styling */
.circle {
  width: 13px;
  height: 13px;
  border: 2.5px solid #000;
  border-radius: 50%;
  display: block;
  margin: 2px auto 2px auto; /* top & bottom small margin only, centered horizontally */
}
